version: '3.8'

services:
  model:
    build:
      context: .
      dockerfile: Dockerfile.model
    container_name: ton_iot_detector
    ports:
      - "8000:8000"
    volumes:
      - ../trained_models:/app/trained_models:ro   # read-only!
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs: /tmp
    mem_limit: 1g

  attacker:
    build:
      context: .
      dockerfile: Dockerfile.attacker
    container_name: kali_attacker
    network_mode: "service:model"      # attacker bisa curl/pings model via localhost:8000
    depends_on:
      - model
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW                        # hanya buat hping3
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs: /tmp:/run
    mem_limit: 512m
    cpus: "1.0"
    pids_limit: 100